<!doctype html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145119360-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-145119360-1');
        </script>
        <link rel="icon" href="{{ url_for('static',filename='icons/favicon.ico') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

        {{ JSGlue.include() }}

        <title>Pipe Band Data Analysis</title>

    </head>

    <body>
        <div class ="container-fluid top-bar">
            <div class ="row tl-row-class">
                <div class="col-md-12 tl-class">
                    <a class="nav-link top-link" href="{{ url_for('dashboard') }}">Pipe Band Data Analysis</a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('grade') }}">Total Major Wins</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('worlds') }}">Worlds Results</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('band_results') }}">Band Results</a>
              </li>
            </ul>
          </div>
        </nav>


        {% block content %}{% endblock %}

        <div class="container">
            <footer class="cpage-footer font-small blue">
                <div class="footer-copyright text-center py-3">2019 Connor Jardine
                   <ul class="list-unstyled">
                  <li>
                    <a target="_blank" href="https://github.com/connorjardine/pipe_band_data_vis">Github Code</a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.facebook.com/connor2110">Contact</a>
                  </li>
                </ul>
              </div>
            </footer>
        </div>
    </body>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block pgjs %}{% endblock %}
</html>