{% extends "base.html" %}

{% block content %}
    <div class = "container">
    <button id="ovdr" type="button" class="btn btn-primary">Drumming Champion of Champions</button>
    </div>

    <div class="container">
        <div id="myDiv" class="chart" style="height: 500px;"></div>
    </div>

{% endblock %}
{% block pgjs %}

    <script type="text/javascript" src="static/js/coc.js"></script>
    <script>
        create_coc_graph({{graphJSON | safe}}, {{d_graph_json | safe}});
    </script>

{% endblock %}

