{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Pipe Band Results</h1>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                This site contains visualisations of Pipe Band Results for every competition from 2003 to 2018. All data
                was collected from RSPBA Contest Summaries.
                The data for each subsequent year will be added to the application after all of the competitions have concluded.
                If you have any suggestions, or notice any errors please contact me either using the contact link at the bottom at
                2188232j@student.gla.ac.uk.
            </div>
        </div>
    </div>
    <div class="container">
        <div class = "row">
            <div class="col-sm">
                <h1>Grand Slam Winning Bands (2003-2018)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <table id="worlds_table" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Grand Slam Winning Band</th>
                        </tr>
                    </thead>
                {% for i in data %}
                    <tr>
                    {% for k in i%}
                        <td>
                            {{ k }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}


