{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Pipe Band Results</h1>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                This site contains visualisations of Pipe Band Results for every competition from 2003 to 2018. All data
                was collected from RSPBA Contest Summaries.
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Current visualiation are G1 Champion of Champions and Champion of Champions Drumming table.
                As well as Total major wins for all grades.
            </div>
        </div>
    </div>
{% endblock %}


