{% extends "base.html" %}

{% block content %}
    <div class="container cl-main">
        <div class="row">
            <div class="col-sm">
                <h3>Total Number of 1st Places in Each Grade</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>The data can be represented as either a pie chart or bar graph using the button</p>
                <p>Furthermore, the results for each grade can be displayed as Wins, Piping Wins, Drumming Wins,
                    Ensemble Wins</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="btn-group" role="group">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <div class="dropdown col-sm">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Grade: 1
                              </button>
                              <div id="ddselect" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button value="1" class="dropdown-item" type="button">1</button>
                                <button value="2" class="dropdown-item" type="button">2</button>
                                <button value="3a" class="dropdown-item" type="button">3a</button>
                                <button value="grade" class="dropdown-item" type="button">3b</button>
                                <button value="grade" class="dropdown-item" type="button">4a</button>
                                <button value="grade" class="dropdown-item" type="button">4b</button>
                                <button value="grade" class="dropdown-item" type="button">Juv</button>
                                <button value="grade" class="dropdown-item" type="button">Nov</button>
                                <button value="grade" class="dropdown-item" type="button">Nov A</button>
                                <button value="grade" class="dropdown-item" type="button">Nov B</button>
                              </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="piebar" type="button" class="btn btn-success">Pie Chart</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="wins_tog" type="button" class="btn btn-primary">Wins</button>
                        <button id="piping_tog" type="button" class="btn btn-primary">Piping</button>
                        <button id="drumming_tog" type="button" class="btn btn-primary">Drumming</button>
                        <button id="ensemble_tog" type="button" class="btn btn-primary">Ensemble</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Last group">
                        <div class="dropdown col-sm">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="y-from" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Year From: 2003
                          </button>
                          <div id="year-from-select" class="dropdown-menu scrollable-menu">
                                <input type="text" placeholder="Search.." id="from-input" onkeyup="fromFilterFunction()">
                                {% for i in year_list %}
                                  <button value="1" id="from-sel-button" class="dropdown-item" type="button">{{ i }}</button>
                                {% endfor %}
                          </div>
                        </div>
                        <div class="dropdown col-sm">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="y-to" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Year To: 2018
                          </button>
                          <div id="year-to-select" class="dropdown-menu scrollable-menu">
                                <input type="text" placeholder="Search.." id="to-input" onkeyup="toFilterFunction()">
                                {% for i in year_list %}
                                  <button value="1" id="to-sel-button" class="dropdown-item" type="button">{{ i }}</button>
                                {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-danger pb-alrt" id="pbAlert" role="alert">Please ensure that 'Year From' is earlier than 'Year To'</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div id="myDiv" class="chart" style="height: 710px;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pgjs %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/major_wins.js') }}"></script>
{% endblock %}