{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="dropdown col-sm">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Grade
              </button>
              <div id="ddselect" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button value="1" class="dropdown-item" type="button">1</button>
                <button value="2" class="dropdown-item" type="button">2</button>
                <button value="3a" class="dropdown-item" type="button">3a</button>
                <button value="grade" class="dropdown-item" type="button">3b</button>
                <button value="grade" class="dropdown-item" type="button">4a</button>
                <button value="grade" class="dropdown-item" type="button">4b</button>
                <button value="grade" class="dropdown-item" type="button">Juv</button>
                <button value="grade" class="dropdown-item" type="button">Nov</button>
                <button value="grade" class="dropdown-item" type="button">Nov A</button>
                <button value="grade" class="dropdown-item" type="button">Nov B</button>
              </div>
            </div>
            <div class="col-sm">
                <button id="piebar" type="button" class="btn btn-primary">Pie Chart</button>
            </div>
            <div class="col-sm">
                <button id="wins_tog" type="button" class="btn btn-success">Show Wins</button>
            </div>
            <div class="col-sm">
                <button id="piping_tog" type="button" class="btn btn-primary">Show Piping 1st Places</button>
            </div>
            <div class="col-sm">
                <button id="drumming_tog" type="button" class="btn btn-primary">Show Drumming 1st Places</button>
            </div>
            <div class="col-sm">
                <button id="ensemble_tog" type="button" class="btn btn-primary">Show Ensemble 1st Places</button>
            </div>
        </div>
    </div>

    <div class ="container">
        <div id="myDiv" class="chart" style="height: 710px;"></div>
    </div>
{% endblock %}

{% block pgjs %}
    <script type="text/javascript" src="static/js/major_totals.js"></script>
    <script>
        create_totals_graph({{graphJSON | safe}}, "{{graph_title | safe}}");
    </script>
{% endblock %}