{% extends "base.html" %}

{% block content %}
    <div class="container cl-main">
        <div class="row">
            <div class="col-sm">
                <h3>Worlds Winners for Each Year by Grade</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>The Graph shows the total number of Worlds wins per band. The table below shows the Worlds winners
                    and their scores</p>
            </div>
        </div>
        <div class="row">
            <div class="btn-group mr-2 flex-wrap" role="group" aria-label="First group">
                <div class="dropdown col-sm">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose Grade
                  </button>
                  <div id="ddselect" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button value="1" class="dropdown-item" type="button">1</button>
                    <button value="2" class="dropdown-item" type="button">2</button>
                    <button value="3a" class="dropdown-item" type="button">3a</button>
                    <button value="grade" class="dropdown-item" type="button">3b</button>
                    <button value="grade" class="dropdown-item" type="button">4a</button>
                    <button value="grade" class="dropdown-item" type="button">4b</button>
                    <button value="grade" class="dropdown-item" type="button">Juv</button>
                    <button value="grade" class="dropdown-item" type="button">Nov</button>
                    <button value="grade" class="dropdown-item" type="button">Nov A</button>
                    <button value="grade" class="dropdown-item" type="button">Nov B</button>
                  </div>
                </div>
                <div class="dropdown col-sm">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="y-from" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Year From
                  </button>
                  <div id="year-from-select" class="dropdown-menu scrollable-menu">
                        <input type="text" class="form-control" placeholder="Search.." id="from-input" onkeyup="fromFilterFunction()">
                        {% for i in year_list %}
                          <button value="1" id="from-sel-button" class="dropdown-item" type="button">{{ i }}</button>
                        {% endfor %}
                  </div>
                </div>
                <div class="dropdown col-sm">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="y-to" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Year To
                  </button>
                  <div id="year-to-select" class="dropdown-menu scrollable-menu">
                        <input type="text" class="form-control" placeholder="Search.." id="to-input" onkeyup="toFilterFunction()">
                        {% for i in year_list %}
                          <button value="1" id="to-sel-button" class="dropdown-item" type="button">{{ i }}</button>
                        {% endfor %}
                  </div>
                </div>
                <button class="btn btn-primary" type="button" id="worlds-submit">Submit</button>
            </div>
        </div>

        <div class="container">
            <div class ="row">
                <div class ="col-sm">
                    <div id="myDiv" class="chart" style="height: 710px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table id="worlds_table" class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Competition</th>
                                <th scope="col">Winning Band</th>
                                <th scope="col">Medley Total</th>
                                <th scope="col">MSR Total</th>
                                <th scope="col">Overall Total</th>
                            </tr>
                        </thead>
                    {% for i in worlds_list %}
                        <tr>
                        {% for k in i%}
                            <td>
                                {{ k }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pgjs %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/worlds.js') }}"></script>
    <script>
        create_worlds_graph({{graphJSON | safe}}, "{{graph_title | safe}}");
    </script>
{% endblock %}